<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="sidebar">
					<a href="home.html">Home</a>
					<a class = "current" href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="discussion.html">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>

	<div class="acontent">
		<div class="overview">
			<h1><b>Overview</b></h1>
			<ul>
			<p></p>
			<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a></p>
			</ul>

		</div>
		<div class="table">
			<table style="width:50%">
				<tr>
					<th></th>
					<th>Exercise</th>
					<th>Topic (Tenative)</th>
					<th>Weight</th>
					<th>Due date</th>
					<th>Solution</th>
				</tr>
				<tr>
					<td>1</td>
					<td><a href="syllabus.pdf">Handout</a></td>
					<td>Relational algebra and MySQL</td>
					<td>15%</td>
					<td>Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>
						UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a> You can download a dumpfile for IMDB_SMALL <a href="syllabus.pdf">MarkUs</a>.
						To use it type mysql -u utorid -p < IMDB_SMALL.sql</td>
					<td><a href="syllabus.pdf">Solution part 1</a></td>
				</tr>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="syllabus.pdf">Handout a2</a></td>
					<td>HTML, CSS, PHP</td>
					<td>15%</td>
					<td>Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a> Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>--></td>
					<td></td>
				</tr>
				</tr>
				<tr>
					<td>3</td>
					<td><a href="syllabus.pdf">Making scheme for A3 Handout</a></td>
					<td>Web Application and Database</td>
					<td>15%</td>
					<td>Friday March 31, 11.59pm</td>
					<td></td>
				</tr>
				

			</table>
		</div>

		<div class="faq">

			<h1>FAQ-Assignment 1</h1>
			<ul><p>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?</p></ul>
			<ul><p>A. Return the first name, last name. </p></ul>
		</div>
	</div>

</body>
</html>