<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="sidebar">
					<a href="home.html">Home</a>
					<a class = "current" href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>

	<div class="acontent">
		<div class="overview">
			<h1><b>Overview</b></h1>
			<ul>
			<p></p>
			<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a></p>
			</ul>

		</div>

		<div class="table">
			<div class="row-1">

					<ul>Exercise</ul>
					<ul>Topic</ul>
					<ul>Weight</ul>
					<ul>Due Date</ul>
					<ul>Solution</ul>
			</div>
			<div class = "row-2">
				<ul><a syllabus.pdf">Handout</a></ul>
				<ul><p>Relational Algebra and MySQL</p></ul>
				<ul><p>15%</p></ul>
				<ul class='due'><p>Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>
						UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a> You can download a dumpfile for IMDB_SMALL <a href="syllabus.pdf">here</a>.
						To use it type mysql -u utorid -p < IMDB_SMALL.sql</p></ul>
				<ul><a href="syllabus.pdf">Solution</a></ul>

			</div>

			<div class = "row-3">
				<ul><a syllabus.pdf">New Marking Scheme for A3 Handout</a></ul>
			</div>
		</div>

		<div class="faq">

			<h1>FAQ-Assignment 1</h1>
			<ul><p>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?</p></ul>
			<ul><p>A. Return the first name, last name. </p></ul>
		</div>
	</div>

</body>
</html>