<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<link rel="stylesheet" href="calendar.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="index.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a class="current href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>

	<div class="calendar">
		<iframe src="https://calendar.google.com/calendar/embed?src=fl5h8vq696hhi7k85eot0rifvg%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</body>
</html>