<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Home</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="sidebar">
					<a class="current" href="home.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="discussion.html">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>
	<div class="content">
		<u><h1><i>Welcome!</i></h1></u>
		<div class = cd>
			<h2>Course description</h2>
			<ul>
			<p></p>
			<p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>
			</ul>
			<ul>
			<b><p>Prequisite:</p></b>
			<p>Some experience with programming in an imperative language such as Python, Java or C.</p>
			</ul>
			<ul>
			<b><p>Exclusion:</p></b>
			<p>This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
			</ul>
			<ul>
			<b><p>Syllabus:</p></b>
			<p><a href="syllabus.pdf"><b><u>PDF</u></b></a></p>
			</ul>


		</div>

		<div class = instructor>
			<h1><b>Instructor</b></h1>
			<ul>
			<b><p>Dr.Anna Bretscher</p></b>
			</ul>
			<ul>
			<b><p>Email:</p></b>
			<p><u>bretscher@utsc.utoronto.ca</u></p>
			</ul>
			<ul>
			<b><p>Exclusion:</p></b>
			<p>This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
			</ul>
			<ul>
			<b><p>Office:</p></b>
			<p>IC493></p>
			</ul>
			<ul>
			<b><p>Phone:</p></b>
			<p>(416) 208-4745></p>
			</ul>
			<ul>
			<b><p>Lectures:</p></b>
			<p>Mondays 9:15-11:00 in HW 216></p>
			</ul>
			<ul>
			<b><p>Office Hours:</p></b>
			<p>W 11:00-12:00></p>
			</ul>


		</div>
			




	</div>
</body>
</html>