<!DOCTYPE html>
<html>
<head>
	<title>Labs</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="sidebar">
					<a href="home.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a class = "current" href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
</body>
</html>