<!DOCTYPE html>
<html>
<head>
	<title>Lectures</title>
	<link rel="stylesheet" href="lectures.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="index.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a class = "current" href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
  </div>

  <div class="content">
    <h2><u>Lecture Schedule</u></h2>
    <p> Please print and bring these notes/worksheets to class </p>

    <table align="center">
      <tr>
        <th>Week</th>
        <th>Topic</th>
        <th>Reading</th>
        <th>Lecture Material</th>
        <th>In Class</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Introduction, Databases background</td>
        <td></td>
        <td><p><a href="syllabus.pdf">Power Point</a></p><p><a href="syllabus.pdf">Power Point Handout</a></p></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Schema Diagrams, Relational Alegra</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>SQL and MySQL</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>MySQL Queries, Creating and Editing Tables</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>MySQL Outer Joins, Views, NULL, string functions, HTML</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>HTML, CSS</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">CSS Powerpoint</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>PHP</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Power Point</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td>PHP and SQL</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Power Point</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td>JavaScript and jQuery</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">jQuery Power Point</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>11</td>
        <td>jQuery, AJAX, JSON</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>12</td>
        <td>Last Year's final</td>
        <td></td>
        <td>
          <p><a href="syllabus.pdf">Final Exam</a></p>
        </td>
        <td></td>
      </tr>
    </table>
  </div>

</body>
</html>