<!DOCTYPE html>
<html>
<head>
	<title>News</title>
	<link rel="stylesheet" href="news.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="index.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a class = "current" href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>

	<div class='post-1'>
		
		<h1>Welcome!</h1>
		<h3></h3>
		<p>Welcome to CSCB20. Please note that tutorials will begin in week 2.</p>
	</div>
</body>
</html>