<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Home</title>
	<link rel="stylesheet" href="tests.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="home.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="discussion.html">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a class = "current" href="tests.html">Tests</a>
				</ul>
		</nav>
	</div>
	<div class="content">
			
		<div class='post-1'>
			
			<h1>Midterm</h1>
			<h3></h3>
			<p>There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here. </p>
			<img src="C:\Users\harjo\Desktop\A2\media\B20_rooms.jpg" width="700px" height="250px">
		</div>
		<div class='info'>
			<p>Preparing for the midter:</p>
			<ul><li>Understand all parts of A1</li>
				<li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
			</ul>
			<p>Once you have done some preparation, you can practice on a previous midterm: <a href="syllabus.pdf">Term Test</a></p>
		</div>

	</div>
	<div class='foot'>
		
	</div>
</body>
</html>